service vendor.hwcomposer-apvr /vendor/bin/hw/android.hardware.graphics.composer-service.apvr
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ServiceCapacityLow
